.mainCocktail {
  margin: 1%;
  margin: 3% 5%;

  .mainCocktail_header {
    margin-bottom: 5%;
    font-size: 4.75vh;
  }

  .mainCocktail_content {
    display: flex;

    .mainCocktail_recommend {
      display: flex;
      flex: 1;
      border: 1px solid black;
      padding: 0.75%;
      // margin-top: 3%;
      margin-right: 3%;

      .mainCocktail_recommend_img {
        // margin-top: 7%;
      }

      .mainCocktail_recommend_detail {
        margin: 7.5% 0 0 5%;

        h2 {
          font-size: 1.5rem;
        }

        p {
          margin-top: 10%;
          font-size: 1rem;
          img {
            margin-top: 5%;
          }
        }
      }
    }

    .mainCocktail_topLike {
      width: 30%;
      flex: 1;

      .cocktailTopLike {
        display: flex;

        .cocktailTopLike_Img {
          flex: 1;
        }

        .cocktailTopLike_desc {
          text-align: center;
          font-weight: 1.2rem;
          flex: 1;

          p {
            display: flex;
          }
        }
      }

      a {
        color: black;
        text-decoration-line: none;
        margin-left: 70%;
        margin-top: 30%;
      }
    }
  }
}
