.mainBanner {
  overflow: hidden;

  .mainBanner_black {
    position: relative;
    min-height: 700px;

    .mainHeader {
      margin-top: 2%;
      text-align: left;
      position: absolute;
      width: 99%;
      display: flex;
      flex-direction: row-reverse;

      a {
        cursor: pointer;
        text-decoration-line: none;
        color: black;
        margin-right: 1%;
        font-weight: bold;
        font-size: 1.3rem;
      }

      .logout {
        cursor: pointer;
        text-decoration-line: none;
        color: black;
        margin-right: 1%;
        font-weight: bold;
        font-size: 1.3rem;
      }
    }

    .mainTitle {
      position: absolute;
      margin-top: 27%;
      text-align: left;
      font-size: 1.7rem;
      color: white;
      margin-left: 60%;
    }

    .mainTitle2 {
      position: absolute;
      margin-top: 27%;
      text-align: left;
      font-size: 1.7rem;
      color: rgb(255, 213, 90);
      margin-left: 50%;
    }
  }

  .mainBanner_white {
    position: relative;
    min-height: 700px;
    cursor: pointer;

    .mainHeader {
      margin-top: 2%;
      text-align: left;
      position: absolute;
      width: 99%;
      display: flex;
      flex-direction: row-reverse;

      a {
        text-decoration-line: none;
        color: white;
        margin-right: 1%;
        font-weight: bold;
        font-size: 1.3rem;
      }

      .logout {
        cursor: pointer;
        text-decoration-line: none;
        color: white;
        margin-right: 1%;
        font-weight: bold;
        font-size: 1.3rem;
      }
    }

    .mainTitle {
      position: absolute;
      margin-top: 27%;
      margin-left: 60%;
      text-align: left;
      font-size: 1.7rem;
      color: white;
    }

    .mainTitle2 {
      position: absolute;
      line-height: 1.125;
      margin-top: 27%;
      margin-left: 51.5%;
      font-size: 1.5rem;
      color: rgb(253, 252, 236);

      h3 {
        color: white;
      }

      .mainTitle2_right {
        text-align: right;

        h5 {
          text-decoration: underline;
          text-underline-position: under;
          cursor: pointer;
        }
      }
    }

    .mainTitle3 {
      position: absolute;
      line-height: 1.125;
      margin-top: 26%;
      margin-left: 60%;
      text-align: left;
      font-size: 1.5rem;
      color: rgb(238, 198, 233);

      h3 {
        color: white;
      }

      .mainTitle3_right {
        text-align: right;

        h5 {
          text-decoration: underline;
          text-underline-position: under;
          cursor: pointer;
        }
      }
    }

    .mainTitle4 {
      position: absolute;
      line-height: 1.125;
      margin-top: 26%;
      margin-left: 60%;
      // text-align: left;
      font-size: 1.5rem;
      color: rgb(40, 134, 188);

      h3 {
        color: rgb(132, 188, 219);
      }

      .mainTitle4_right {
        text-align: right;

        h5 {
          text-decoration: underline;
          text-underline-position: under;
          cursor: pointer;
          padding-right: 8%;
        }
      }
    }
  }
}