.manual {
  padding-left: 5%;
  width: 90%;
  padding-bottom: 5%;

  .manual_title {
    padding-bottom: 5%;

    .manual_title_main {
      margin-top: 3%;
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 5vh;
      line-height: 60px;
    }

    .manual_title_sub {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 2.75vh;
      line-height: 1.125;
      display: flex;
      align-items: center;
    }
  }

  .manual_content {
    height: inherit;
    padding-bottom: 1%;
    display: flex;
    flex-direction: row;

    .manual_content_youtube {
      .manual_content_youtube_tag {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 2.75vh;
        line-height: 1.125;

        color: #253976;
      }

      .manual_content_youtube_title {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 3.95vh;
        line-height: 50px;
      }

      .manual_content_youtube_video {
        margin-top: 3%;
        width: 100%;
        height: 60vh;
      }

      .manual_content_youtube_video_legend {
        font-family: "Inter";
        font-style: normal;
        margin-top: 2%;
        font-weight: 500;
        font-size: 2.5vh;
        line-height: 20px;
        /* identical to box height */
        text-decoration: underline;
        text-align: right;

        color: #000000;
      }
    }

    .manual_content_shop {
      display: table;
      padding-left: 8%;

      .manual_content_shop_layout {
        display: table-cell;
        vertical-align: middle;

        .manual_content_shop_title {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 3.75vh;
          line-height: 1.5;

          color: #333333;
        }

        .manual_content_shop_sub {
          margin-bottom: 3%;
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 2.25vh;
          line-height: 1;

          color: #6d6d6d;
        }

        .manual_content_shop_carousel {
          width: 350px;
          // height: 10vh;
          overflow: hidden;
        }
      }
    }
  }
}