.detail_cocktail_info {
  position: relative;
  width: 1023px;
  height: 739px;
  left: 50px;
  top: 50px;
  display: flex;
  flex-direction: row;
  // 이미지 영역
  .detail_cocktail_img_div {
    left: 0px;
    top: 0px;
    display: flex;
    .detail_cocktail_img {
      box-sizing: border-box;
      position: relative;
      width: 474px;
      height: 739px;
      left: 0px;
      top: 0px;
    }
    .detail_cocktail_bookmark {
      position: absolute;
      // right: 5px;
      z-index: 1;
      left: 400px;
    }
  }

  // 헤더 영역
  .detail_cocktail_info_header {
    display: inline-block;
    flex-direction: row;
    padding-left: 5%;
    width: 506px;
    height: 99px;
    left: 505px;
    top: 53px;
    img{
      width: 30px;
      height: 30px;
      padding-right: 3%;
    }
    .detail_cocktail_info_header_top {
      display: flex;
      flex-direction: row;
    }
    .detail_cocktail_info_header_bottom {
      display: flex;
      flex-direction: row;
      gap: 5%;
    }
    .detail_cocktail_title {
      width: 454px;
      height: 50px;

      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 33px;
      line-height: 45px;
      display: flex;
      align-items: center;
      text-align: center;

      color: #000000;
    }
    .detail_cocktail_likebtn {
      padding-top: 10px;
    }
    .detail_cocktail_rating_score {
      display: flex;
      width: 60px;
      height: 46px;
      .detail_rating_score {
        width: 48px;
        height: 46px;
        top: 0px;

        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 27px;
        line-height: 32px;
        display: flex;
        align-items: center;

        color: #000000;
      }
    }
    .detail_cocktail_like_count {
      display: flex;
      width: 120px;
      height: 46px;
      .detail_like_count {
        height: 46px;
        top: 0px;

        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 27px;
        line-height: 32px;
        display: flex;
        align-items: center;

        color: #000000;
      }
    }
    .detail_cocktail_comment_count {
      display: flex;
      height: 46px;
      .detail_comment_count {
        width: 80px;
        height: 46px;
        top: 0px;

        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 27px;
        line-height: 32px;
        display: flex;
        align-items: center;

        color: #000000;
      }
    }
    .detail_comment_difficulty{
      width: 134px;
      height: 36px;
    }
  }

  // 재료 리스트 영역
  .detail_cocktail_ingredient {
  }

  // 레시피 영역
  .detail_cocktail_recipe_textarea {
  }

  // 소개 영역
  .detail_cocktail_recipe_content_textarea {
  }
}
