.userAnalisys {
  display: flex;
  margin: 4%;

  .userAnalisys_logo {
    flex: 3.5;
    line-height: 0.5;

    h1 {
      color: #253976;
      font-size: 3.75rem;
      font-weight: 1000;
    }

    p {
      font-size: 1.4rem;
    }
  }

  .userAnalisys_pdf {
    flex: 0.55;
    margin-top: 3%;


    img {
      width: 15%;
      margin-right: 3%;
    }

    span {
      color: #B1B1B1;
      font-size: 1.2rem;
    }
  }
  .userAnalisys_pdf:hover{
    cursor: pointer;
  }
}