.color {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  input:checked {
    border: 4px solid grey;
  }
  .color_red {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    appearance: none;
  }
  .color_orange {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    background-color: orange;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    appearance: none;
  }

  .color_yellow {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    background-color: yellow;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    appearance: none;
  }

  .color_green {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    background-color: green;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    appearance: none;
  }

  .color_blue {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    background-color: blue;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    appearance: none;
  }
  .color_purple {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    background-color: purple;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    appearance: none;
  }

  .color_white {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    background-color: white;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    appearance: none;
  }

  .color_black {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    appearance: none;
  }
}
