.difficulty {
  display: flex;
  width: 100%;
  color: #9b9292;
  font-weight: bold;
  .difficulty_title {
    color: black;
  }
  .difficulty_selector {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    .difficulty_selector_btn {
      opacity: 0;
    }
    .difficulty_selector_lev {
      margin-right: 1rem;
    }
  }
  input:checked {
    font-size: 20px;
    color: black;
  }
}
