.result {
  display: flex;
  flex-direction: column;
  margin: 30px;
  .result_header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
  }
  .result_sort_btn {
    opacity: 0;
  }
  .result_sort_label {
    margin-right: 1rem;
    color: #9b9292;
  }
}
