.detail_layout {
  position: relative;
  padding-top: 1%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  // justify-content: space-between;
  // border: 1px solid black;
  width:100%;
  height: 90vh;
  margin: 0 auto;
  .detail_layout_left{
    flex: 3;
  }
  .detail_layout_right{
    flex: 2;
    width:40%;
  }
  .detail_comment_btn{
    position: absolute;
      right: 0;
      top : 45%;
      width: 20px;
      height: 80px;
  }
}
