.analysisThumbnail {
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 0;
  p {
    font-size: 1.3rem;
    margin-bottom: 3%;
  }

  .analysisThumbnail_detail {
    border: 1px solid #25397627;
    border-radius: 10px;
    padding: 5%;

    div {
      text-align: right;
      a {
        text-decoration-line: underline;
        color: #929090;
        font-weight: bold;
      }
    }
  }
}
