.userCocktailList {
  margin: 5%;
  .userCocktailList_header {
    span {
      font-weight: bold;
      font-size: 1.4rem;
      margin-right: 3%;
      color: #808080;
    }
    .selectedTab {
      color: black;
      font-weight: bold;
    }
    span:hover {
      cursor: pointer;
    }
  }

  .userCocktailList_content {
    border: 1px solid #25397627;
    border-radius: 10px;
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1%;
    height: 87.5vh;
    overflow: scroll;
    overflow-x: hidden;
  }

  .userCommentList_content {
    border: 1px solid #25397627;
    border-radius: 10px;
    padding: 1%;
    height: 85vh;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 7%;
  }
}
