.userInfo {
  margin: 7%;
  margin-left: 10%;

  margin-bottom: 0;
  display: flex;

  .userInfo_leftImg {
    flex: 2;
  }

  .userInfo_rightDesc {
    flex: 2;
    margin-right: 40%;
  }

  .userInfo_setting {
    flex: 1;
    // border: 1px solid black;
    .button {
      outline: none;
      box-shadow: none;
    }
    .button:hover {
      cursor: pointer;
    }
  }
}
