.userInfo {
  margin: 7%;
  margin-left: 10%;

  margin-bottom: 0;
  display: flex;

  .userInfo_leftImg {
    flex: 1;
  }

  .userInfo_rightDesc {
    flex: 1;
    margin-right: 40%;
  }

  .uesrInfo_setting {
    flex: 1;

    .button {
      outline: none;
      box-shadow: none;
    }
  }
}
