.userInfo {
  margin: 7%;
  // margin-left: 10%;
  margin-right: 1%;
  display: flex;

  .userInfo_leftImg {
    flex: 1;
  }

  .userInfo_rightDesc {
    flex: 3;
  }

  .userInfo_setting {
    flex: 1;
    text-align: right;
    margin-right: 0;
    .button {
      outline: none;
      box-shadow: none;
    }
    .button:hover {
      cursor: pointer;
    }
  }
}
