.cocktail_worldcup_textarea {
  margin: 0 auto;
  text-align: center;
  justify-content: space-evenly;
  .cocktail_worldcup_title {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-family: "Inter";
    font-weight: 600;
    font-size: 30px;
  }
  .cocktail_worldcup_title_sub {
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 1%;
  }
  .cocktail_worldcup_current_order {
    font-family: "Inter";
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: white;
    background: #253976;
    width: 12%;
    padding: 0.3%;
    border-radius: 10px;
    margin : 0 auto;
  }
}

.random_cocktail_selector {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  text-align: center;
  justify-content: space-evenly;
  // padding: ;
  .random_cocktail_card {
    width: 25%;
  }
  
}
