.hi{
    width: 50px;
    /* height: 50vh; */
}

.waves {
    height: 200px;
    background: url("/assets/image/wave.jpg") repeat-x;
    position: relative;
    animation: wave 7s linear infinite;
    bottom: -200px;
  }
  
  @keyframes wave {
    0% {
      transform: translateX(0) translateZ(0) scaleY(1);
    }
    50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55);
    }
    100% {
      transform: translateX(-50%) translateZ(0) scaleY(1);
    }
  }
  