.analysisThumbnail {
  margin: 13%;

  p {
    font-size: 1.3rem;
    margin-bottom: 3%;
  }

  .analysisThumbnail_detail {
    border: 1px solid #929090;
    padding: 5%;

    div {
      a {
        text-decoration-line: none;
        color: #929090;
        font-weight: bold;
        margin-left: 70%;
      }
    }
  }
}