.detail_separator {
  box-sizing: border-box;
  height: 98vh;
  width: 95%;
  border-left: 0.3px solid #000000;
  padding-left: 2%;
  .detail_cocktail_recommend {
    .detail_cocktail_recommend_by_ingredient {
      .detail_cocktail_recommend_ingredient_title {
        text-align: center;
        margin-bottom: 3%;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
      }
      // 카드
      .carousel {
        margin-left: 15px;
      }
    }

    .detail_cocktail_recommend_by_color {
      .detail_cocktail_recommend_color_title {
        text-align: center;
        margin-bottom: 3%;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        // 카드
      }
      .carousel {
        margin-left: 15px;

      }
    }
  }
}
