.main {
  background-color: white;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.main_left {
  margin-left: 3rem;

  span {
    margin-right: 0.5rem;
  }
  .main_left_descrption {
    font-weight: bold;
  }
}

.main-right {
  margin-right: 3rem;
}
