.main {
  background-color: #253976;
  display: flex;
  justify-content: space-between;
  height: 48px;
}

.main_left {
  display: flex;
  line-height: 36px;
  a{
  }
  .main_logo{
    height: 48px;
    // vertical-align: middle;
    cursor: pointer;
  }
}

.main_right {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;

  a {
    color: white;
    text-decoration: none;
    padding: 1rem;
  }
}