.world_cup_card {
  border: 1px solid red;
  padding: 3%;
  margin: 10%;
  height: 80vh;
  .world_cup_top {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    .world_cup_cocktailImg {
      width: 90%;
    }
  }
  .world_cup_bottom {
    .world_cup_cocktailName {
    }
  }
}
