.card {
  height: fit-content;
  //   border: 1px solid red;
  .card_top {
    .cocktailImg {
      margin: 0 auto;
      border-radius: 9%;
      width: 50%;
    }
  }

  .card_bottom {
    .cocktailName {
      margin: 0 auto;

      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .sub {
      width: fit-content;
      display: flex;
      margin: 0 auto;
      justify-content: center;
      justify-content: space-between;
      gap: 5px;
      align-items: center;
      text-align: center;
      .likeImg {
        width: 24px;
        height: 24px;
      }
      .like {
        width: fit-content;
        height: 32px;

        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
      }
      .rateImg {
        width: 30px;
        height: 30px;
      }
      .rate {
        width: fit-content;
        height: 32px;

        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
      }
    }
  }
}

.analysisCard {
  width: 120px;
  height: 150px;
  //   border: 1px solid purple;
  .cocktailImg {
    width: 100px;
    height: 110px;
    margin: 0px auto;
    border-radius: 9%;
  }
  .cocktailName {
    height: 18px;
    margin: 0px auto;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    text-align: center;
  }
}

.myCard {
  margin-bottom: 5px;
  width: 152.92px;
  height: fit-content;

  border: 0.592708px solid #253976;
  border-radius: 8.89062px;
  .cocktailImg {
    margin: 0 auto;
    margin-top: 4px;
    width: 144px;
    height: 122px;
    border-radius: 9px;
  }
  div {
    margin: 0 auto;
    .cocktailName {
      width: 90%;
      height: 20px;
      margin-bottom: 5px;
      margin-top: 5px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 17px;
      align-items: center;
      text-align: center;
    }
    .sub {
      gap: 0px;
      display: flex;
      margin: 0 auto;
      .likeImg {
        width: 22px;
        height: 22px;
      }
      .like {
        width: fit-content;
        height: 15px;

        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
      }
      .rateImg {
        width: 22px;
        height: 18px;
      }
      .rate {
        width: fit-content;
        height: 15px;

        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
      }
    }
  }
}

.detailCard {
  box-sizing: border-box;
  width: 383px;
  height: fit-content;
  padding: 5px;

  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
  .cocktailKorName {
    height: 30px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
  }
  .cocktailEngName {
    height: 35px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
  }
  .cocktailImg {
    box-sizing: border-box;
    margin: 5px;
    margin-bottom: 10px;
    height: 442px;
    border-radius: 9px;
  }
  .detailHeader {
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px;
    margin-top: 5px;

    height: 46px;
    border: 1px solid #000000;
    border-radius: 10px;
    .likeImg {
      width: 24px;
      height: 24px;
    }
    .like {
      width: fit-content;
      height: 40px;

      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 40px;
      display: flex;
      align-items: center;

      flex: none;
      flex-grow: 0;
    }
    .commentImg {
      width: 20px;
      height: 20px;

      flex: none;
    }
    .comment {
      width: fit-content;
      height: 40px;

      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 40px;
      display: flex;
      align-items: center;

      color: #000000;

      /* Inside auto layout */
    }

    .ratioImg {
      width: 22px;
      height: 18px;
    }
    .ratio {
      width: fit-content;
      height: 40px;

      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 40px;
      display: flex;
      align-items: center;

      color: #ffcd1d;

      /* Inside auto layout */

      flex: none;
    }
    .bookmark {
      width: 24px;
      height: 31px;

      /* Inside auto layout */
    }
  }
}
