.base_title {
  font-size: 23px;
}

.base_checkbox {
  display: flex;
  width: 90%;
  justify-content: space-between;
  flex-wrap: wrap;
  .base_value {
    font-size: 22px;
    margin-left: 5px;
  }
 
}
