.color_title {
  font-size: 23px;
  line-height: 36px;
  font-weight: bold;
  padding-bottom: 5px;
}
.color {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  input:checked {
    border: 4px solid grey;
  }
  .color_red {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    background-color: rgb(255, 0, 0);
    width: 27px;
    height: 27px;
    border-radius: 50%;
    appearance: none;
  }
  .color_orange {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    background-color: rgb(255, 150, 0);
    width: 27px;
    height: 27px;
    border-radius: 50%;
    appearance: none;
  }

  .color_yellow {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    background-color: rgb(255, 255, 0);
    width: 27px;
    height: 27px;
    border-radius: 50%;
    appearance: none;
  }

  .color_green {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    background-color: rgb(0, 255, 0);
    width: 27px;
    height: 27px;
    border-radius: 50%;
    appearance: none;
  }

  .color_blue {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    background-color: rgb(0, 0, 255);
    width: 27px;
    height: 27px;
    border-radius: 50%;
    appearance: none;
  }
  .color_indigo {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    background-color: rgb(75, 0, 130);
    width: 27px;
    height: 27px;
    border-radius: 50%;
    appearance: none;
  }
  .color_purple {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    background-color: rgb(200, 0, 255);
    width: 27px;
    height: 27px;
    border-radius: 50%;
    appearance: none;
  }

  .color_white {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    background-color: rgb(255, 255, 255);
    width: 27px;
    height: 27px;
    border: 1px solid black;
    border-radius: 50%;
    appearance: none;
  }

  .color_brown {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    background-color: rgb(150, 75, 0);
    width: 27px;
    height: 27px;
    border-radius: 50%;
    appearance: none;
  }

  .color_pink {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    background-color: rgb(255, 153, 204);
    width: 27px;
    height: 27px;
    border-radius: 50%;
    appearance: none;
  }
  .color_errmsg {
    color: red;
    font-size: 18px;
    font-weight: bold;
  }
}
