.difficulty {
  display: flex;
  width: 100%;
  color: #9b9292;
  font-weight: bold;
  .difficulty_title {
    color: black;
    font-size: 23px;
  }
  .difficulty_selector {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    .difficulty_selector_lev {
      margin-right: 1rem;
    }
      input:checked + label {
        font-size: 24px;
        color: red;
      }
    .difficulty_selector_btn {
      opacity: 0;
    }
  }
}
