.difficulty {
  display: flex;
  width: 100%;
  color: #9b9292;
  font-weight: bold;
  .difficulty_title {
    color: black;
    font-size: 23px;
  }
  .difficulty_selector {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    .difficulty_selector_lev_high {
      margin-right: 1rem;
    }
    .difficulty_selector_lev_middle {
      margin-right: 1rem;
    }
    .difficulty_selector_lev_low {
      margin-right: 1rem;
    }
    input:checked + .difficulty_selector_lev_high {
      font-size: 24px;
      color: red;
    }
    input:checked + .difficulty_selector_lev_middle {
      font-size: 24px;
      color: blue;
    }
    input:checked + .difficulty_selector_lev_low {
      font-size: 24px;
      color: #98f306;
    }
    .difficulty_selector_btn {
      opacity: 0;
    }
  }
}
